:root {
  /* COLORS */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-normal: 400;
}

* {
  /* DETERMINE HOW THE WIDTH AND HEIGHT OF ELEMENTS IS CALCULATED  */
  box-sizing: border-box; /* padding and border are taken from the determined width. */
}

body, html {
  padding: 0;
  margin: 0;
  min-width: 100vh;
}

body {
  font-size: 1rem;
  font-weight: var(--fw-normal);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

/* SIDEBAR */

.sidebar {
  /* background-image: url('/src/assets/images/bg-sidebar-mobile.svg'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position-x: center; */
  background-color: blue;
  height: 300px;
  width: 100%;
  overflow: hidden;
   display: flex; 
  justify-content: center;
  align-items: center;
  gap: 2rem
}

.step-indicator {
  
}

.sidebar-info {
  display: none;
}

.numbered-indicator {
  border-radius: 50px;
  border: 1px solid var(--White);
  display: grid;
  place-content: center;
  width: 50px;
  aspect-ratio: 1;
  font-size: 1.125rem;
  color: var(--Magnolia);
  font-weight: var(--fw-bold);
}

/* FORMS */

.step-page-title {
  font-size: 1.125rem;
  color: red;
}