:root {
  /* COLORS */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-normal: 400;
}

* {
  /* DETERMINE HOW THE WIDTH AND HEIGHT OF ELEMENTS IS CALCULATED  */
  box-sizing: border-box; /* padding and border are taken from the determined width. */
}

body, html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--Magnolia);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  color: var(--Cool-gray);
}

.block {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

.step-header {

}

.step-page-title {
  font-size: 1.8rem;
  color: var(--Marine-blue);
  font-weight: var(--fw-bold);
}

.step-page-description {
  line-height: 1.5rem;
  margin-top: 10px;
}

/* SIDEBAR */

.sidebar {
  background-image: url('/src/assets/images/bg-sidebar-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  /* width: 100%; */
  display: flex; 
  justify-content: center;
  padding-top: 2rem;
  align-items: start;
  gap: 2rem
}

.step-indicator {
  
}

.sidebar-info {
  display: none;
}

.numbered-indicator {
  border-radius: 50px;
  border: 1px solid var(--White);
  display: grid;
  place-content: center;
  width: 50px;
  aspect-ratio: 1;
  font-size: 1.125rem;
  color: var(--Magnolia);
  font-weight: var(--fw-bold);
}

/* FORMS */

.step-page {
  background-color: var(--White);
  width: 90%;
  margin-inline: auto;
  margin-top: -100px;
  padding: 2rem;
  border-radius: 15px;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: var(--White);
  left: 0;
  right: 0;
}

.step-one .navigation-buttons {
  justify-content: end;
}

/* .step-four .navigation-buttons {
  justify-content: start;
} */

.next-button,
.back-button,
.confirm-button {
  font-size: 1.5rem;
  font-weight: var(--fw-regular);
  cursor: pointer;
}

.next-button,
.confirm-button {
  padding: 1rem 1.5rem;
  background-color: var(--Marine-blue);
  color: var(--White);
  
  border-radius: 5px;
}

.back-button {
  color: var(--Cool-gray);
}


.step-one-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.step-one-form input,
.step-one-form input:focus {
  border-radius: 5px;
  border: 1px solid var(--Light-gray);
  padding: .5rem;
  width: 90%;
}

.step-one-form label {
  color: var(--Marine-blue);
}

/* .step-page-description {
  co
} */

/** PAGE TWO */

.plan-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-card {
  display: flex;
  gap: 1rem;
  align-items: start;
  border: 1px solid var(--Light-gray);
  border-radius: 8px;
  padding: .5rem;
}

.plan-details > * {
  padding: 2px;
}

.plan-offer,
.plan-type {
  color: var(--Marine-blue);
}

.plan-type {
  font-size: 1.125rem;
}

.billing-switcher {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.switcher-indicator {
  display: flex;
  background-color: var(--Marine-blue);
  border-radius: 20px;
  width: 40px;
  height: 20px;
}

.switcher-indicator.yearly-selected {justify-content: end;}
.switcher-indicator.monthly-selected {justify-content: start;}

.switcher-indicator span {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--White);
}

.select-billing-button {
  background-color: transparent;
  font-weight: var(--fw-bold);
  border: none;
  color: var(--Cool-gray);
}

.select-billing-button.selected {
  color: var(--Marine-blue);
}

/* PAGE THREE */

.addon-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

.add-on-card {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.add-on-card.checked {
  border: 2px solid var(--Marine-blue);
  border-radius: 8px;
  padding: .5rem;
}

.add-on-card-price {
  color: var(--Purplish-blue);
  font-weight: var(--fw-regular);
  margin-left: auto;
}

.add-on-card-info h3 {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  color: var(--Marine-blue);
}

/* PAGE FOUR */

.bill-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bill-card-item:not(.selected-addOns) {
  display: flex;
  justify-content: space-between;
}

.selected-addOn {
  display: flex;
  justify-content: space-between;
}

.bill-card-item.selected-plan {
  align-items: center;
}

.bill-card-item.selected-plan h3, .bill-card-item.selected-plan .price{
  color: var(--Marine-blue);
  font-weight: var(--fw-bold);
  font-size: 1.125rem;
}

.bill-card-item.selected-addOns .price {
  color: var(--Marine-blue);
  font-weight: var(--fw-regular);
}

.bill-card-item.selected-addOns > * {
  padding: 2px;
  font-size: 1.125rem;
}

.total-card {
  font-size: 1.125rem;
}

.total-card .price {
  color: var(--Purplish-blue);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

.change-plan-button {
  border: none;
  text-decoration: underline;
  font: inherit;
  color: inherit;
}